[mysqld]
disable-log-bin
max_allowed_packet=128M
sql_mode=NO_ENGINE_SUBSTITUTION
innodb_strict_mode=0
innodb_lock_wait_timeout=200
innodb_stats_on_metadata=OFF
binlog_row_image=MINIMAL
sync_binlog=1
local_infile=OFF
master_verify_checksum=ON
relay_log_purge=1
binlog_expire_logs_seconds=604800
slave_sql_verify_checksum=1
skip-host-cache
skip-name-resolve
slow_query_log=1
slow_query_log_file=/tmp/mysql-slow.log
log_bin_trust_function_creators=OFF
log_bin=OFF
bind-address=0.0.0.0

# performance config - uncomment if you need "performance_schema" monitoring
#performance_schema=ON
#performance-schema-instrument='statement/%=ON'
#performance-schema-consumer-statements-digest=ON
#innodb_monitor_enable=all

[mysql]

[mysqldump]
quick
quote-names
max_allowed_packet=128M

[client]
bind-address=0.0.0.0
